body{
  max-width: 720px;
  margin: auto;
  background-color: #eff0f4;
}
header {
  display: flex;
  align-items: center;
  height: 44px;
  font-size: 12px;
  background-color: #1ba2ea;
  color: #fff;
  span {
    margin-bottom: 4px;
    margin-left: 26px;
    font-size: 16px;
  }
}
main {
  .frame {
    margin-top: 10px;
    line-height: 46px;
    background-color: #ffffff;
    color: #e1e5e7;
  }
  .shouji{
    margin-left: 10px;
    margin-bottom: -4px;
    margin-right: 4px;
  }
  img {
    margin-left: 6px;
    margin-bottom: -4px;
    margin-right: 3px;
  }
  .frame-below {
    margin-top: 1px;
    line-height: 46px;
    background-color: #ffffff;
    color: #e1e5e7;
  }
  input {
    color: #020;
    border: none;
    outline: none;
    border-left: 1px solid;
  }
  .disembark{
    height: 40px;
    margin-top: 20px;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    background-color: #1ba2ea;
    color: #fff;
    border-radius: 5px;
  }
  .register {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    font-size: 16px;
    color: #b1b1b1;
  }
}
footer{
  .third-party {
    display: flex;
    justify-content: center;
    margin-top: 10rem;
    margin-bottom: 1rem;
    .string {
      height: 10px;
      width: 20%;
      border-bottom: 1px solid #b1b1b1;
    }
    .login {
      margin: 0 14px;
      font-size: 16px;
      text-align: center;
      color: #b1b1b1;
    }
  }
  .landing {
    display: flex;
    justify-content: space-evenly;
    font-size: 12px;
    .wechat {
      text-align: center;
    }
  }
}






