html{
  min-width: 320px;
  max-width: 780px;
  margin: auto;
  background-color: #fff;
}
body{
  margin: auto;
  max-width:780px;
  min-width: 320px;
  background-color: #f0f0f0;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  font-size: 30px;
  color: #FFFFFF;
  background-color: #29bde0;
  border: 1px solid #c9c9c9;
  a{
    height: 46px;
    margin: 1%;
  }
}
main {
  margin: 1rem 0.625rem;
  border: 1px solid #f7f7f7;
  .time {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-bottom: solid 1px #e1e5e7;
    p {
      width: 1.6rem;
    }
    span {
      color: #29BDE0;
      font-size: 0.9rem;
      line-height: 3.3rem;
    }
    img {
      height: .7rem;
      width: 1.2rem;
      margin-right: 1.2rem;
    }
  }
  .content {
    display: block;
    .list{
      height: 3.125rem;
      display: flex;
      align-items: center;
      justify-content: center;
      .list-broadside{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 2.5rem;
        height: 3.125rem;
        p {
          height: 1.6rem;
          border: 2px solid #c9c9c9;
          margin: 0 auto;
        }
        img {
          width: 1rem;
          height: 1rem;
          border: 1px solid #c9c9c9;
          border-radius: 50%;
          padding: 0.3rem;
        }

      }
      .list-click{
        width: 100%;
        margin: 0.3125rem 2.125rem 0.3125rem 0;
        color: #fff;
        font-size: 0.9rem;
        line-height: 2.5rem;
        text-align: center;
        background-color: #24A7C6;
      }
      .list-triangle{
        width: 0.625rem;
        margin: 1.25rem 0 1.25rem -1rem;
        border-width: 0.3125rem 0.625rem;
        border-style: solid;
        border-color: transparent #24A7C6 transparent transparent;
      }
      .list-long {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 2.5rem;
        height: 3.125rem;
        margin-left: .05rem;
      }
      .list-killer{
        width: 100%;
        margin: 0.3125rem 3.125rem 0.3125rem 0.9rem;
        color: #000;
        font-size: 0.5rem;
        line-height: 2.5rem;
        text-align: center;
      }
      p{
        height: 1.6rem;
        border: 2px solid #c9c9c9;
        margin: 0 auto;
      }
    }
  }
  .grid-row{
    height: 3.125rem;
    display: flex;
    align-items: center;
  }
}
footer {
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 4rem;
  width: 100%;
  bottom: 0;
  margin: auto;
  max-width: 780px;
  min-width: 320px;
  color: #fff;
  background: rgba(41, 189, 224, 0.5) none repeat scroll !important;
  .left {
    width: 100%;
    line-height: 2.7rem;
    border-radius: 5px;
    margin: 0.24rem;
    font-size: 15px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    background-color: #fbb435;
  }
  .right{
    width: 100%;
    line-height: 2.7rem;
    border-radius: 5px;
    margin: 0.24rem;
    font-size: 15px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    background-color: #fbb435;
  }
}