body{
  margin: auto;
  max-width: 780px;
  min-width: 320px;
  background-color: #eeeeee;
}
header{
  display: flex;
  height: 60px;
  background-color: #29bde0;
  color: #FFFFFF;
  justify-content: space-between;
  align-items: center;
  font-size: 30px;

  a{
    height: 47px;
    margin: 1%;
  }
}
main {
  background-color: #f0f0f0;
  .themes {
    display: flex;
    background-color: #FFFFFF;
    margin: 1%;

    .left {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 350px;
      width: 15%;
      font-size: 34px;
      flex-direction: column;
      border: 1px solid #d9d9d9;
      writing-mode: vertical-lr;
    }

    .main-right {
      width: 85%;

      .population {
        display: flex;

        .killer {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 280px;
          width: 50%;
          border: 1px solid #d9d9d9;

          .number {
            height: 6px;
            width: 6px;
            margin-right: 6px;
            background-color: #ffc107;
          }
        }

        .cop{
          display: flex;
          align-items: center;
          justify-content: center;
          height: 280px;
          width: 50%;
          border: 1px solid #d9d9d9;

          .number {
            height: 6px;
            width: 6px;
            margin-right: 6px;
            background-color: #29bde0;
          }
        }
      }
      .set{
        font-size: 26px;
        color: #29bde0;
        text-align: center;
        line-height: 70px;
      }
    }
  }
  .frame{
    padding: 0;
    margin: 1%;
    background-color: #fff;
    overflow: hidden;
  }
  .civilian {
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid #d9d9d9;
    color: #a1a1a1;
    margin: 10px 18px 10px 18px;
    input {
      border: 0;
      height: 28px;
      outline: none;
    }
  }
}
footer{
  .foot{
    height: 170px;
    margin: 1%;
    background-color: #fff;

    .tool{
      display: flex;
      padding-top: 20px;
      padding-left: 20px;
      background-color: #fff;
      margin: 10px 10px 60px 20px;
      .move{
        margin-left: 20px;
      }
      .setting{
        height: 22px;
        width: 30px;
        text-align: center;
        color: #fab344;
        background-color: #f4f5f5;
      }
      .yellow{
        color: #fab344;
      }
    }
    .text {
      display: flex;
      align-items: center;
      justify-content: space-around;
      .slide input[type=range] {
        -webkit-appearance: none;
        width: 70%;
        height: 10px;
        background: #FAB344;
        border-radius: 10px;
      }
      input[type=range]::-webkit-slider-thumb {
        -webkit-appearance: none;
        height: 20px;
        width: 24px;
        background:#ff0000;
        border-radius: 20%;
        border: solid 3px #ddd;


      }
      .setting{
        -webkit-appearance: none;
        height: 10px;
        background: #FAB344;
        border-radius: 10px;
      }
      button {
        line-height: 30px;
        width: 30px;
        font-size: 26px;
        color: #ffc107;
        padding: 0;
      }
      .slide{
        -webkit-appearance: none;
        width: 70%;
        height: 10px;
        background: #FAB344;
        border-radius: 10px;
        outline: none;
        box-shadow: 0 1px 1px #def3f8, inset 0 .125em .125em #0d1112;
      }
    }
  }
  .landing{
    display: block;
    line-height: 60px;
    margin: 10px 8px;
    color: #dfff;
    font-size: 30px;
    text-decoration: none;
    text-align: center;
    background-color: #ffc107;
  }
}
