@mixin constraint {
  max-width: 780px;
  min-width: 320px;
  line-height: 56px;
}
@mixin fixation{
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
@mixin location{
  width: 43%;
  line-height: 56px;
  text-align: center;
  border-radius: 8px;
}
@mixin height{
  height: 56px;
  line-height: 56px;
}
@mixin interval{
  padding-right: 20px;
  margin-right: 4px;
  margin-left: 20px;
  color: #e1e5e7;
  border-right: 1px solid #e1e5e7;
}
body{
  max-width: 780px;
  min-width: 320px;
  margin: auto;
}
header{
  @include fixation;
  @include constraint;
  top: 0;
  height: 50px;
  color: #ffffff;
  background-color: #5fc0cd;
  .homepage{
    margin-right: 5px;
  }
  img{
    height: 24px;
    width: 16px;
    margin-left: 6px;
  }
}
main {
  .theme {
    display: flex;
    align-items: center;
    height: 210px;
    margin-top: 50px;
    background: url("IMG/c.png");
    background-size: 100% 100%;

    .theme-picture {
      height: 99px;
      width: 99px;
      margin: 0 1.5rem;
    }
  }
  .size{
    font-size: 16px;
    color: #ffffff;
    .coordinate {
      height: 14px;
      width: 10px;
    }
  }
  .name {
    color: #ffffff;
    .age {
      font-size: 14px;
      color: #ffffff;
    }
  }
  .skill {
    @include height;
    border-bottom: 1px solid #e1e5e7;
    img {
      height: 16px;
      margin-left: 10px;
      margin-right: 9px;
    }
  }
  .star {
    @include height;
    margin-left: 20px;
    .star-symbol {
      height: 14px;
      width: 14px;
      margin-top: 4px;
      .star-reside{
        padding-right: 10px;
        border-right: 1px solid #e1e5e7;

      }
    }
  }
  .star-second {
    height: 14px;
    width: 14px;
    margin-left: 4px;
    margin-top: 4px;
  }

  .year {
    @include height;
    border-top: 1px solid #e1e5e7;
    .work {
      @include interval;
    }
    .hour{
      color: red;
    }
  }
  .introduce {
    display: flex;
    align-items: center;
    border-top: 1px solid #e1e5e7;
    border-bottom: 1px solid #e1e5e7;
    .introduce-self {
      @include interval;
      min-width: 65px;
    }
  }
}
footer {
  @include fixation;
  @include constraint;
  bottom: 0;
  padding-bottom: 10px;
  background-color: #ffffff;
  .word{
    @include location;
    @include height;
    color: #5fc0cd;
    background-color: #ffff;
    border: solid;
  }
  .phone{
    @include location;
    color: #ffff;
    background-color: #5fc0cd;
  }
}
