body {
  max-width: 720px;
  min-width: 320px;
  margin: auto; }

header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 720px;
  min-width: 320px;
  line-height: 56px;
  top: 0;
  height: 88px;
  font-size: 35px;
  color: #ffffff;
  background-color: #5fc0cd; }
  header .homepage {
    letter-spacing: 1px;
    margin-right: 35px; }
  header img {
    height: 35px;
    width: 21px;
    margin-left: 35px; }

main {
  margin-top: 88px;
  margin-bottom: 88px; }
  main .theme {
    display: flex;
    align-items: center;
    height: 326px;
    background: url("img/c.png");
    background-size: 100% 100%; }
    main .theme .theme-picture {
      height: 169px;
      width: 169px;
      margin-left: 30px;
      margin-right: 40px; }
  main .size {
    padding-top: 10px;
    font-size: 24px;
    letter-spacing: 2px;
    color: #ffffff; }
    main .size .coordinate {
      height: 23px;
      width: 18px;
      margin-right: 12px; }
  main .name {
    display: flex;
    height: 34px;
    font-size: 36px;
    letter-spacing: 2px;
    font-weight: 300;
    color: white;
    line-height: 11px; }
    main .name .monicker {
      margin-right: 30px; }
    main .name .age {
      font-size: 28px;
      color: #ffffff; }
  main .skill {
    display: flex;
    align-items: center;
    height: 88px;
    font-size: 32px;
    border-bottom: 1px solid #e1e5e7; }
    main .skill .vertical {
      width: 3px;
      height: 26px;
      margin-left: 30px;
      margin-right: 30px;
      background: #5fc0cd;
      border-radius: 2px; }
  main .star {
    display: flex;
    align-items: center;
    height: 88px;
    line-height: 88px;
    margin-left: 64px;
    font-size: 32px; }
    main .star .star-symbol {
      height: 23px;
      width: 24px;
      margin-right: 10px; }
      main .star .star-symbol .star-reside {
        padding-right: 10px;
        border-right: 1px solid #999999; }
    main .star .wire {
      width: 1px;
      height: 26px;
      margin-right: 17px;
      margin-left: 17px;
      background: #e1e5e7; }
  main .wire {
    width: 1px;
    height: 26px;
    margin-right: 26px;
    margin-left: 26px;
    background: #e1e5e7; }
  main .star-second {
    height: 23px;
    width: 24px;
    margin-right: 10px; }
  main .year {
    display: flex;
    align-items: center;
    height: 92px;
    line-height: 92px;
    margin-left: 64px;
    font-size: 32px;
    border-top: 1px solid #e1e5e7; }
    main .year .work {
      color: #999999;
      font-size: 32px; }
    main .year .hour {
      color: red; }
  main .introduce {
    display: flex;
    align-items: center;
    height: 92px;
    border-top: 1px solid #e1e5e7;
    border-bottom: 1px solid #e1e5e7; }
    main .introduce .wire {
      width: 2px;
      height: 26px;
      margin-right: 26px;
      margin-left: 26px;
      background: #e1e5e7; }
    main .introduce .introduce-self {
      min-width: 128px;
      margin-left: 64px;
      color: #999999;
      font-size: 32px; }
    main .introduce .brief {
      font-size: 31px; }

footer {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 720px;
  min-width: 320px;
  line-height: 56px;
  bottom: 0;
  padding-bottom: 10px;
  background-color: #ffffff; }
  footer .word {
    width: 43%;
    line-height: 56px;
    text-align: center;
    border-radius: 8px;
    height: 56px;
    line-height: 56px;
    color: #5fc0cd;
    background-color: #ffffff;
    border: solid;
    text-decoration: none; }
  footer .phone {
    width: 43%;
    line-height: 56px;
    text-align: center;
    border-radius: 8px;
    color: #ffff;
    background-color: #5fc0cd; }

/*# sourceMappingURL=task-12.css.map */
