@mixin restrict{
  max-width: 780px;
  min-width: 320px;
}
@mixin flex{
  display: flex;
  align-items: center;
}
@mixin wire{
  border-bottom: 1px solid #e1e5e7;
  border-right: 1px solid #e1e5e7;
}
@mixin roof{
  height: 50px;
  width: 90px;
  font-size: 22px;
  line-height: 50px;
  text-align: center;
}
body{
  @include restrict;
  margin: auto;
}
header {
  .thetop {
    position: fixed;
    top: 0;
    width: 100%;
    @include restrict;
    z-index: 1;
    .maximum {
      @include flex;
      justify-content: space-between;
      height: 70px;
      background-color: #5fc0cd;
      .zenith {
        display: flex;
        background-color: #55a8b3;
        border-radius: 6px;
      }
    }
  }
  .empty {
    width: 48px;
  }
  img {
    height: 26px;
    width: 24px;
    margin-right: 24px;
  }
  .employer {
    @include roof;
    border-radius: 6px;
    color: #ffff;
    background: #55a8b3;
  }
  .nursing {
    @include roof;
    color: #5fc0cd;
    background: #fff;
    border-radius: 6px;
  }
}
.skip {
  display: flex;
  justify-content: center;
  height: 66px;
  width: 100%;
     .place {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0;
      height: 66px;
      font-size: 18px;
      .pull-down {
        width: 100%;
        font-size: 17px;
        text-align-last: center;
        color: #999999;
        @include wire;
        border-left: 1px solid #e1e5e7;
      }
    }
  }
main {
  .loin {
    margin-top: 136px;
    font-size: 16px;
    .first {
      line-height: 38px;
    }
  }
  .service {
    @include flex;
    font-size: 18px;
  }
  .date {
    height: 24px;
    width: 24px;
    margin-right: 10px;
  }
  .coordinate {
    width: 19px;
    height: 24px;
  }
  img {
    height: 34px;
    width: 20px;
  }
  .serve {
    margin-left: 4px;
    color: #999999;
  }
  .coat {
    line-height: 38px;
    padding-right: 0px;
  }
  .thirdly {
    margin-left: 36px;
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .coordinates {
    @include flex;
    font-size: 18px;
    border-bottom: 1px solid #e1e5e7;
  }
  .peking {
    margin-left: 16px;
    color: #999999;
  }
  .time {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: red;
    border-bottom: 1px solid #e1e5e7;
  }
  margin-bottom: 100px;
}
footer{
    @include flex;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    width: 100%;
    @include restrict;
    height: 100px;
    background-color: #f8fafb;
    .home {
      text-align: center;
      color: #5fc0cd;
      img{
        height: 30px;
        width: 36px;
      }
    }
    img{
      height: 66px;
      width: 66px;
    }
    .night {
      text-align: center;
      color: #999999;
      img{
        height: 30px;
        width: 36px;
      }
    }
  }

