body {
  margin: 0;
  background-color: #fafafa; }

.tall {
  height: 7vw; }

p {
  margin: 0; }

* {
  box-sizing: border-box; }

.home {
  justify-content: center; }

.subnav {
  margin-bottom: 30px;
  text-align: center; }
  .subnav .rocket {
    height: 50px;
    width: 42px;
    margin-bottom: 1rem; }
  .subnav .standard {
    color: #a2a2a2; }
  .subnav .rocket-one {
    height: 43px;
    width: 43px;
    margin-top: 0.4rem;
    margin-bottom: 1rem; }

.imaginary {
  border-left: 1px dashed #e1e5e7; }
  .imaginary .number {
    text-align: center;
    margin-top: 2vw; }
    .imaginary .number .portrait {
      height: 12px;
      width: 12px; }

.guild {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3rem;
  font-size: 0.4rem;
  text-align: center;
  color: #999999; }
  .guild .figure {
    height: 56px;
    width: 56px; }
  .guild p {
    width: 166px; }
  .guild .arrows {
    height: 30px;
    width: 32px; }

.how {
  width: 100%;
  height: 12vw;
  line-height: 12vw;
  font-size: 24px;
  text-align: center; }

.card {
  margin-bottom: 32px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.125); }
  .card .head-portrait {
    height: 108px;
    width: 108px;
    margin: auto;
    margin-top: 20px; }
  .card .student {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 24px; }
  .card .card-footer {
    padding: 0rem 1.25rem  0.75rem 1.25rem;
    background-color: #FFFFFF;
    border: none;
    color: #a2a2a2; }

.card:hover {
  box-shadow: 0 0 5px 6px #a3a3a3; }

.dot {
  display: flex;
  margin: auto; }
  .dot .dotdot {
    height: 12px;
    width: 12px;
    margin: 2px;
    background-color: #ECECEC;
    border-radius: 50%; }

.dotdot:hover {
  background-color: #29b078; }

.cooperation {
  display: flex;
  justify-content: space-around;
  padding: 0;
  background-color: #ffffff; }
  .cooperation .enterprise {
    display: flex;
    justify-content: center;
    margin: 2px;
    background-color: white; }
    .cooperation .enterprise .logo {
      height: 160px;
      width: 222px; }
    .cooperation .enterprise .logo:hover {
      box-shadow: 0 0 5px 2px #a3a3a3; }

.friendship {
  width: 100%;
  height: 4vw;
  line-height: 4vw;
  text-align: center;
  font-size: 14px; }

.friendlink {
  display: flex;
  justify-content: space-between; }
  .friendlink .cellphone-software {
    display: flex;
    justify-content: center;
    padding: 0;
    height: 30px; }
    .friendlink .cellphone-software .cellphone {
      width: 64px;
      font-size: 12px;
      color: #999999; }
      .friendlink .cellphone-software .cellphone .cellphone-app {
        display: flex;
        align-items: center; }
      .friendlink .cellphone-software .cellphone .dot-grey {
        height: 5px;
        width: 5px;
        border-radius: 50%;
        margin-right: 10px;
        background-color: #999999; }
      .friendlink .cellphone-software .cellphone .cellphone-teacher {
        display: flex;
        align-items: center; }
  .friendlink .cellphone-teacher:hover {
    border-bottom: 2px solid #29b078; }
  .friendlink .cellphone-app:hover {
    border-bottom: 2px solid #29b078; }

/*# sourceMappingURL=css-task-14.css.map */
