body{
  margin: 0;
}
.tall{
  height: 7vw;
}
p{
  margin: 0;
}
*{
  box-sizing: border-box;
}
.home{
  justify-content: center;
}
.subnav{
  margin-bottom: 30px;
  text-align: center;
  .rocket{
    height: 50px;
    width: 42px;
    margin-bottom: 1rem;
  }
  .standard{
    color: #a2a2a2;
  }
  .rocket-one{
    height: 43px;
    width: 43px;
    margin-top: 0.4rem;
    margin-bottom: 1rem;
  }
}
.imaginary{
  border-left:1px dashed #e1e5e7;
  .number{
    text-align: center;
    margin-top: 2vw;
    .portrait{
      height: 12px;
      width: 12px;
    }
  }
}
.guild{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3rem;
  font-size: 0.4rem;
  text-align: center;
  color: #999999;
  .figure{
    height: 56px;
    width: 56px;
  }

  p{
    width: 166px;
  }
  .arrows{
    height: 30px;
    width: 32px;
  }
}
.how{
  width: 100%;
  height: 12vw;
  line-height: 12vw;
  font-size: 24px;
  text-align: center;
}
.card{
  margin-bottom: 32px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.125);
  .head-portrait{
    height: 108px;
    width: 108px;
    margin: auto;
    margin-top: 20px;
  }
  .student{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 24px;
  }
  .card-footer {
    padding: 0rem 1.25rem  0.75rem 1.25rem;
    background-color: #FFFFFF;
    border:none;
    color: #a2a2a2;
  }
}
.card:hover {
  box-shadow: 0 0 5px 6px #a3a3a3;
}
.dot{
  display: flex;
  margin: auto;
  .dotdot{
    height: 12px;
    width: 12px;
    margin: 2px;
    background-color: #ECECEC;;
    border-radius: 50%;
  }
}
.dotdot:hover{
  background-color: #29b078;
}
.cooperation {
  display: flex;
  justify-content: space-around;
  padding: 0;
  .picture {
    padding: 0;
    .enterprise {
      display: flex;
      justify-content: center;
      margin: 2px;
      background-color: white;

      .logo {
        height: 160px;
        width: 222px;
      }

      .logo:hover {
        box-shadow: 0 0 5px 2px #a3a3a3;
      }
    }
  }
}
.friendship{
  width: 100%;
  height: 4vw;
  line-height: 4vw;
  text-align: center;
  font-size: 14px;
}
.friendlink{
  display: flex;
  justify-content: space-between;
  .cellphone-software{
    display: flex;
    justify-content: center;
    padding: 0;
    height: 30px;
    .cellphone{
      width: 64px;
      font-size: 12px;
      color: #999999;
      .cellphone-app{
        display: flex;
        align-items: center;
      }
      .dot-grey{
        height: 5px;
        width: 5px;
        border-radius: 50%;
        margin-right: 10px;
        background-color: #999999;
      }
      .cellphone-teacher{
        display: flex;
        align-items: center;
      }
    }
  }
  .cellphone-teacher:hover{
    border-bottom: 2px solid #29b078;
  }
  .cellphone-app:hover{
    border-bottom: 2px solid #29b078;

  }
}



