body{
  margin: 0;
}
*{
  box-sizing: border-box;
}
.subnav {
  height: 80px;
  line-height: 80px;
  font-size: 16px;
  .enterprise {
    color: #29b078;
  }
}
.home {
  margin: 0;
  align-content: center;
  border-bottom: 1px solid #b3b3b3;
  .occupation {
    line-height: 60px;
    .direction {
      font-size: 14px;
      color: #999999;
    }
    .enterprise {
      padding: 0px 10px;
      font-size: 14px;
      text-decoration: none;
      color: #111111;
    }
  }
  .leading-end {
    height: 80px;
    line-height: 44px;
    margin: 0;
    font-size: 16px;
    text-decoration: none;
    color: #111111;
  }
  .front-end {
    height: 80px;
    line-height: 44px;
    margin: 0;
    font-size: 16px;
    text-decoration: none;
    color: #111111;
  }
  .anchor {
    height: 80px;
    line-height: 44px;
    margin: 0;
    font-size: 16px;
    color: #111111;
    text-decoration: none;
  }
  .site {
    height: 80px;
    line-height: 44px;
    margin: 0;
    font-size: 16px;
    color: #111111;
    text-decoration: none;
  }
  .enterprise:hover {
    text-decoration: none;
    color: #ffffff;
    background-color: #29b078;
  }
}
.grid {
  padding-bottom: 10px;
  .wrapper {
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-template-rows: 10rem 3rem 3rem 2rem 2rem 2rem 3rem 3rem;
    display: grid;
    position: relative;
    margin-top: 24px;
    background: #fff;
    cursor: pointer;
    border: 1px solid #ddd;
    .head-portrait {
      grid-column-start: 5;
      grid-column-end: 1;
      margin: 15px 0px 0px 8px;
      background-repeat: no-repeat;
      background: url("img/beijing,1.png");
      background-repeat: no-repeat;
    }
    .introduce {
      grid-column-start: 11;
      grid-column-end: 5;
      .engineer {
        margin: 18px 0px 18px 0px;
        font-size: 14px;
      }
      .text {
        font-size: 14px;
        word-break: break-all;
        width: 200px;
      }
    }
    .threshold {
      grid-column-start: 6;
      grid-column-end: 1;
      padding: 0.8rem 0rem 0rem 0.5rem;
      font-size: 12px;
      border: 1px solid whitesmoke;
      color: #b3b3b3;
      img {
        height: 15px;
        width: 16px;
        margin-left: 8px;
      }
    }
    .complexity {
      grid-column-start: 6;
      grid-column-end: 11;
      grid-row-start: 2;
      grid-row-end: 3;
      padding-top: 15px;
      font-size: 12px;
      border-bottom: 1px solid whitesmoke;
      border-top: 1px solid whitesmoke;
      color: #b3b3b3;
      .degree {
        padding-left: 8px;
      }
      img {
        height: 15px;
        width: 16px;
        margin-left: 5px;
      }
    }
    .growth-cycle {
      grid-column-start: 1;
      grid-column-end: 6;
      grid-row-start: 3;
      grid-row-end: 4;
      padding: 14px 0px 0px 4px;
      font-size: 12px;
      border-bottom: 1px solid whitesmoke;
      border-right: 1px solid whitesmoke;
      color: #b3b3b3;
      .red{
        padding-left: 6px;
        color: red;
      }
    }
    .scarcity {
      grid-column-start: 6;
      grid-column-end: 11;
      grid-row-start: 3;
      grid-row-end: 4;
      padding: 14px 0px 10px 4px;
      font-size: 12px;
      border-bottom: 1px solid whitesmoke;
      color: #b3b3b3;
      .red{
        color: red;
        padding-left: 6px;
      }
    }
    .pay{
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 4;
      grid-row-end: 7;
      padding-top: 35px;
      text-align: center;
      border-bottom: 1px solid whitesmoke;
      border-right: 1px solid whitesmoke;
      color: #b3b3b3;
    }
    .annual-salary {
      grid-column-start: 4;
      grid-column-end: 11;
      grid-row-start: 4;
      grid-row-end: 5;
      padding: 8px 0px 0px 8px;
      font-size: 12px;
      border-bottom: 1px solid whitesmoke;
      .year{
        padding-left: 15px;
      }
      .month{
        float: right;
        padding-right: 14px;
      }
    }
    .second-level {
      grid-column-start: 4;
      grid-column-end: 11;
      grid-row-start: 5;
      grid-row-end: 6;
      padding: 8px 0px 0px 8px;
      font-size: 12px;
      border-bottom: 1px solid whitesmoke;
      .year{
        padding-left: 14px;
      }
      .month{
        float: right;
        padding-right: 15px;
      }
    }
    .fully-good {
      grid-column-start: 4;
      grid-column-end: 11;
      grid-row-start: 6;
      grid-row-end: 7;
      padding: 8px 0px 0px 8px;
      font-size: 12px;
      border-bottom: 1px solid whitesmoke;
      .year{
        padding-left: 15px;
      }
      .month{
        float: right;
        padding-right: 15px;
      }
    }
    .at-school{
      grid-column-start: 1;
      grid-column-end: 11;
      padding: 14px 0px 0px 5px;
      font-size: 14px;
      border-bottom: 1px solid whitesmoke;
      .red{
        color: red;
      }
    }
    .hint {
      grid-column-start: 1;
      grid-column-end: 11;
      border-bottom: 1px solid whitesmoke;
      padding-top: 15px;
      padding-left: 5px;
      font-size: 11px;
    }
    .hovereffect{
      display: none;
      position: absolute;
      height: 100%;
      padding: 60px 40px 0 40px;
      text-align: center;
      background: #000000;
      color: white;
      opacity: 0.8;
      -webkit-animation: cartoon 1s;
    }
    .h4 {
      font-size: 1.3rem;
    }
  }
}
.hovereffect {
  position: absolute;
  height: 100%;
  padding: 60px 40px 0 40px;
  text-align: center;
  background: #000000;
  opacity: 1;
  color: white;
  -webkit-animation: cartoon 1s;
  display: none;
}
  h4 {
    font-size: 1.3rem;
  }
.wrapper:hover .hovereffect{
    display: block;
  }
  .hovereffect:hover{
    opacity: 0.8;
  }
@keyframes cartoon {
  0%{
    -webkit-transform: rotateX(0deg);
  }
  100%{
    -webkit-transform: rotateY(2000deg);
  }
}













