
@mixin flex{
  display: flex;
  align-items: center;
}
html {
  overflow: hidden;
  background-color: #f0f0f0;
}
body{
  margin: 0 auto;
  max-width: 640px;
  min-width: 320px;
  position: relative;
  overflow: hidden;
}

#sidemenu{
  display: none;
}
#sidemenu:checked + aside {
  left: 0;
}
#sidemenu:checked ~ .asd {
  padding-left: 50%;
  margin-right: -50%;
}
aside {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -50%;
  width: 50%;
  background: #ffffff;
  transition: 0.2s ease-out;
  a {
    @include flex;
    justify-content: space-between;
    margin-top: 30px;
    list-style: none;
    text-decoration: none;
    color: #29bde0;
    border-bottom: 1px solid #9c9c9c;
  }
}
#wrap {
  height: 88px;
  transition: 0.2s ease-out;
  background-color: #29BDE0;
}
label {
  margin-top: 18px;
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5em;
  font-size: 2em;
  border-radius: 70px;
  color: #ffffff;
  cursor: pointer;
  text-align: center;
  #sideul li {
    width: 100%;
    font-size: 1rem;
    list-style: none;
    color: #69d1e9;
  }
}
#sideul li:hover {
  color: orange;
}
.menus {
  height: 50px;
  line-height: 50px;
  background-color: #29bde0;
}
.coat {
  width: 568px;
  margin: auto;
  border: 1px solid #e1e5e7;
  background-color: #ffffff;
}
header #wrap {
  transition: 0.2s ease-out;
}
main {
  text-align: center;
  .last-time {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 116px;
    width: 568px;
    margin: auto;
    margin-top: 27px;
    margin-bottom: 27px;
    font-size: 35px;
    color: #9A9A9A;
    background-color: #ffffff;
    border: 1px solid #e1e5e7;

    img {
      height: 30px;
      width: 18px;
    }
  }
  span {
    display: block;
    margin-top: 27px;
    margin-bottom: 27px;
    color: #787878;
    font-size: 25px;
  }
  .ghost {
    margin-top: 0;
    margin-bottom: 20px;
    height: 70px;
    line-height: 50px;
    font-size: 38px;
    text-align: center;
    color: #fbb435;
    padding-top: 20px;
    background-color: #ffffff;
    border-bottom: 1px solid #fbb435;

  }
  .brief {
    @include flex;
    justify-content: center;
    height: 134px;
    width: 463px;
    margin: auto;
    font-size: 32px;
    color: #ffffff;
    background-color: #69d1e9;
  }
  .suspect {
    @include flex;
    justify-content: space-evenly;
    .wide {
      width: 16px;
    }
    .brie {
      @include flex;
      justify-content: center;
      height: 134px;
      width: 82%;
      margin: 0;
      font-size: 32px;
      color: #ffffff;
      background-color: #69d1e9;
    }
    img {
      width: 16px;
      height: 40px;
    }
  }
  .circle {
    @include flex;
    justify-content: center;
    height: 14px;
    padding-bottom: 10px;

    .dot {
      height: 10px;
      width: 10px;
      margin-left: 3px;
      background-color: #9c9c9c;
      border-radius: 50%;
    }
    .dot:hover {
      background-color: #69d1e9;
    }
  }
}