
@mixin flex{
  display: flex;
  align-items: center;
}
html {
  margin: auto;
  max-width: 640px;
  min-width: 320px;
}
body{
  margin: 0 auto;
  max-width: 640px;
  min-width: 320px;
  background-color: #f0f0f0;
}
.coat {
  width: 568px;
  margin: auto;
  border: 1px solid #e1e5e7;
  background-color: #ffffff;
}
header {
  padding-left: 24px;
  padding-top: 40px;
  height: 48px;
  background-color: #29BDE0;

  .menu{
    width: 34px;
    height: 4px;
    margin-bottom: 7px;
    background:#ffffff;
  }
}
main {
  text-align: center;
  .last-time {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 116px;
    width: 568px;
    margin: auto;
    margin-top: 27px;
    margin-bottom: 27px;
    font-size: 35px;
    color: #9A9A9A;
    background-color: #ffffff;
    border: 1px solid #e1e5e7;
    .dexter{
      margin-left: 12px;
    }
    img {
      height: 30px;
      width: 18px;
      margin-right: 12px;
    }
  }
  span {
    display: block;
    margin-top: 27px;
    margin-bottom: 27px;
    color: #787878;
    font-size: 25px;
  }
  .ghost {
    margin-top: 0;
    margin-bottom: 31px;
    height: 70px;
    line-height: 50px;
    font-size: 38px;
    text-align: center;
    color: #fbb435;
    padding-top: 20px;
    background-color: #ffffff;
    border-bottom: 1px solid #fbb435;
  }
  .brief {
    @include flex;
    justify-content: center;
    height: 134px;
    width: 463px;
    margin: auto;
    font-size: 32px;
    color: #ffffff;
    background-color: #69d1e9;
  }
  .suspect {
    @include flex;
    justify-content: space-evenly;
    .wide {
      width: 16px;
    }
    .brie {
      @include flex;
      justify-content: center;
      height: 134px;
      width: 82%;
      margin: 0;
      font-size: 32px;
      color: #ffffff;
      background-color: #69d1e9;
    }
    img {
      width: 16px;
      height: 40px;
    }
  }
  .user{
    display: block;
    margin-top: 26px;
    margin-bottom: 8px;
    color: #787878;
    font-size: 25px;
  }
  .circle {
    @include flex;
    justify-content: center;
    height: 14px;
    padding-bottom: 8px;
    .dot {
      height: 17px;
      width: 17px;
      margin-left: 9px;
      background-color: #C9C9C9;
      border-radius: 50%;
    }
    .dot:hover {
      background-color: #69d1e9;
    }
  }
}