body {
  margin: auto;
  max-width: 640px;
  min-width: 320px;
  background-color: #ffffff; }

header {
  position: fixed;
  max-width: 640px;
  min-width: 320px;
  top: 0;
  width: 100%;
  z-index: 1; }
  header .topmost {
    background-color: #29bde0; }
    header .topmost .vote {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 88px;
      margin: 0px 24px;
      color: #ffffff; }
      header .topmost .vote img {
        width: 40px;
        height: 40px; }
    header .topmost p {
      display: flex;
      justify-content: center;
      font-size: 34px; }
    header .topmost .discussion {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 82px;
      font-size: 26px;
      white-space: nowrap;
      text-overflow: ellipsis;
      color: #999999;
      background-color: rgba(255, 255, 255, 0.6); }
      header .topmost .discussion p {
        font-size: 24px;
        margin-left: 46px;
        color: #464646;
        letter-spacing: 2px; }
      header .topmost .discussion .frequency {
        display: flex;
        width: 100px;
        margin-bottom: 6px;
        margin-top: -44px;
        margin-right: 17px; }
        header .topmost .discussion .frequency .yellow {
          margin-left: 46px;
          margin-top: 52px; }
          header .topmost .discussion .frequency .yellow .transmit {
            height: 52px;
            width: 52px; }
        header .topmost .discussion .frequency .start {
          opacity: 0.0;
          transform: rotate(90deg); }
    header .topmost .triangle {
      width: 0;
      height: 0;
      margin-left: 64px;
      border-left: 8px solid transparent;
      border-right: 7px solid transparent;
      border-top: 13px solid rgba(255, 255, 255, 0.6); }
    header .topmost .click {
      padding-bottom: 24px;
      margin: 6px 0px 0px 72px;
      font-size: 24px;
      color: #ffffff; }

main {
  margin-bottom: 86px; }
  main .middle {
    height: 218px; }
  main .top {
    max-width: 640px;
    min-width: 320px;
    height: 100%;
    background-color: #29bde0;
    padding-top: 28px;
    z-index: 1; }
  main .row {
    display: flex;
    justify-content: space-around; }
  main .music {
    height: 30px;
    width: 30px; }
  main audio {
    width: 110px;
    margin: 58px -111px 22px 0px; }
  main .civilian {
    margin-top: 32px;
    font-size: 30px; }
  main .text {
    position: relative;
    height: 126px;
    width: 126px;
    margin-top: 8px;
    margin-bottom: 21px;
    text-align: center;
    border: 5px solid #ffffff;
    background-color: #f5c97b; }
  main .first {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #ffffff;
    font-size: 23px;
    background-color: #83b09a; }
  main img {
    height: 30px;
    width: 136px;
    margin-bottom: 20px;
    opacity: 0.0; }
  main .epiboly:hover img {
    opacity: 1; }

footer {
  position: fixed;
  max-width: 640px;
  min-width: 320px;
  bottom: 0;
  width: 100%;
  height: 86px;
  padding-bottom: 60px;
  text-align: -webkit-center;
  background: #29bde0; }
  footer .bottom {
    font-size: 40px;
    text-decoration: none; }
    footer .bottom .cast {
      width: 490px;
      height: 86px;
      color: #ffffff;
      line-height: 86px;
      text-decoration: none;
      background-color: #fbb435; }

/*# sourceMappingURL=task-13-2.css.map */
