body{
    padding: 0;
    background-color: #fafafa;
}
.row {
    margin: 0;
}

.nav{
    background-color: #1d7ad9;
    width: 100%;
    height: 2rem;
    line-height: 2rem;
}
.nav-{
    display: flex;
    justify-content: space-between;
    padding: 0;
}
.nav-a{
    color: #ffffff;
}
.nav-c{
    color: #ffffff;
    border-left:1px solid #ffffff;
    padding: 6px 10px;
}
.nav-d{
    color: #ffffff;
    border-right: 1px solid #ffffff;
    padding: 6px 10px;
}
.nav-e{
    display: flex;
    justify-content: flex-end;
}
.nav-c:hover{
    background-color: #ffffff;
    color: #111111;
    padding: 6px 15px 6px 15px;;
}
.nav-d:hover{
    background-color: #ffffff;
    color: #111111;
    padding: 6px 15px 6px 15px;;
}
.nav-f{
    border:1px solid #ffffff;
    background-color: #ffffff;
    border-radius: 10px;
}
.nav-h{
    border:1px solid #ffffff;
    background-color: #ffffff;
    border-radius: 10px;
}
.nav-i{
    border:1px solid #ffffff;
    background-color: #ffffff;
    border-radius: 10px;
}
.nav-j{
    border:1px solid #ffffff;
    background-color: #ffffff;
    border-radius: 10px;
}
.navbar-light .navbar-nav .nav-link{
    color: #111111;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: #ffffff;
    background-color: #1d7ad9;
}
.epiboly {
    width: 100%;
    background-color:#f9f9f9;
}
.epiboly-a{
    background-color: #f3f3f3;
}
.gbs{
    background-color:transparent;
}
.navbar-light .navbar-brand {
    color: rgba(0,0,0,.9);
    display: flex;
    justify-content: space-between;
}
.navbar {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
}
@media screen and (min-width: 992px) {
    .box {
        display: flex;
        height: 5rem;
        justify-content: space-between;
    }

    .nav-f {
        margin-right: 40px;
    }

    .nav-h {
        margin-right: 40px;
    }

    .nav-i {
        margin-right: 40px;
    }

    .header-4 {
        margin-left: 33.333333%;
    }

    .header-3 {
        padding-bottom: 0px;
    }

    .Counterparts-7 {
        margin-right: 1.3rem;
    }

    .Counterparts-5 {
        position: relative;
        top: -26px;
        text-align: center;
    }

    .offset-lg-2 {
        margin-left: 16.56667%;
    }
}
.text {
    text-align: center!important;
}
.size-2{
padding-left: 3px;
}
@media screen and (max-width: 992px) {
    .navbar-light .navbar-nav .nav-link {
        margin-bottom: 15px;
    }
    .Counterparts-2 {
        padding-bottom: 1.5rem;
    }

    .Counterparts-6 {
        margin-left: 1rem;
    }

    .header-8 {
        justify-content: center;
    }

    .header-9 {
        justify-content: center;
    }

}
@media screen and (max-width: 780px) {
    .subnav-{
        display: flex;
        justify-content: center;
    }
}
.navbar-toggler {
    float: right;
    margin-top: 5px;
    margin-bottom: 4px;
}
.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background: no-repeat center center;
    background-size: 100% 100%;
}
.nav-link {
    background-color: #fff;
    text-align: center;
    border-radius: 10px;
    border: 1px;
}
.box{
    width: 100%;
    background-color: #f3f3f3;
}
.subnav{
    display: flex;
    align-items: center;
    padding-bottom: 1.1rem;
}
.subnav-a{
    background: #ccc;
    width: 45px;
    height: 5px;
}
.subnav-b{
    width: 25px;
    height: 25px;
    border-radius: 20px;
    background: #ccc;
    text-align: center;
    line-height: 25px;
    color: #fff;
}
.subnav-{
    flex-wrap: wrap;
    padding-top: 2rem;
    float: right;
}
.subnav-d{
    text-align: center;
    float: right;
}
.subnav-e{
    display: flex;
    justify-content: flex-end;
}
.subnav-d:hover .subnav-a{
    color: #ff7f02;
    background-color: #ff7f02;
}
.subnav-d:hover .subnav-b{
    background-color: #ff7f02;
}
.subnav-d:hover .subnav-1 {
    color: #ff7f02;
}
.subnav-y{
    margin-bottom: 3rem;
    padding: 0;
}
.subnav-1{
    color: #cccccc;
}
.header-1{
    padding-top: 2rem;
    padding-bottom: 0.9rem;
    background-color: #fbfcff;
    border: 1px solid #e6e6e6;
    align-items: baseline;
    color: #737374;
}
.header-2{
    padding-bottom: 0.5rem;
}
.header-3{
    padding-bottom: 1rem;
}
.header-4{
    padding-bottom: 1rem;
}
.header{
    display: flex;
    align-items: center;
}
.header-6{
    padding-bottom: 1rem;
}
.header-8{
    padding-top: 2rem;
    padding-bottom: 1rem;
    padding-left: 0.7rem;
    display: flex;
    background-color: #fbfcff;
    border: 1px solid #e6e6e6;
    align-items: baseline;
    color: #737374;

}
.header-a{
    width: 3px;
    height: 15px;
    background: #1d7ad9;
    margin-right: 5px;
}
.header-b{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: #1d7ad9;
    margin-left: 8px;
}
.header-f{
    width: 129px;
    height: 34px;
    padding: 0.3rem 3rem 0.3rem 1rem;
    background-image: url(img/d.png);
    background-repeat: no-repeat;
    background-position: 6rem;
    color: #999999;
    outline: none;
}
select {
    -webkit-appearance: none;
}
.header-c{
    background-color: #f3f3f3;
    border: 1px solid #e8e8e8;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    display: flex;
}
input[type="radio"] + label::before {
    content: "\a0";
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    width: 1.1em;
    height: 1em;
    margin-right: .4em;
    border-radius: 50%;
    border: 1px solid #d7d7d7;
    text-indent: .15em;
    line-height: 1;
}
input[type="radio"]:checked + label::before {
    background-clip: content-box;
    padding: .2em;
    border: 6.5px solid #1d7ad9;
}
input[type="radio"] {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}
.size-a{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: #1d7ad9;
    margin-left: 7px;
}
.size{
    background-color: #f3f3f3;
}
.Counterparts{
    background-color: #fbfcff;
    padding-top: 1.5rem;
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    border-top:  1px solid #e6e6e6;
    color: #737374;
}
.Counterparts-1{
    padding-bottom: 1rem;
    text-align: center;
}
.Counterparts-2{
    display: flex;
    justify-content: center;
}
.Counterparts-3{
    padding-bottom: 0.5rem;
    background-color: #fbfcff;
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    color: #737374;
}
.Counterparts-5{
    text-align: center;
}
.Counterparts-8{
    background-color: #fbfcff;
}
input[type="radio"]:checked + label::before {
    background-clip: content-box;
    padding: .2em;
    border: 6.5px solid #1d7ad9;
}
.kuang{
    width: 80px;
    height: 30px;
}
.size-1{
    padding-right: 5px;
}
.guild{
    width: 150px;
    height: 40px;
    line-height: 40px;
    border-radius: 8px;
    background-color: red;
    color: white;
    text-align: center;
}
.guild-b{
    text-align: -webkit-center;
    padding-top: 70px;
    padding-bottom: 60px;
    border: 1px solid #e6e6e6;
}
.top-1{
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.copyright-7{
    color: #999999;
    display: block;
}
.copyright-a{
}
.copyright-b{
    color: #999999;
    font-size: 14px;
    text-align: center;
}
.copyright-c{
    color: #999999;
    font-size: 14px;
    margin-right: 18px;
}
.copyright-3{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.copyright-12{
    margin-right: 88px;
    padding-top: 1rem;
}
.copyright-8:hover {
     color: #1d7ad9;
}
.copyright-9:hover {
    color: #1d7ad9;
}
@media screen and (max-width: 992px) {
    .copyright-3 {
        justify-content: end;
        display: block;
    }
    .copyright-b {
        text-align: inherit;
    }
    .copyright-12{
        padding: 0;
    }
}
.copyright-11{
    background-color: #f3f3f3;
    margin-top: 30px;
}
.weiba{
    text-align: center;
    color: #ffffff;
    font-size: 14px;
}
.weiba-a{
    background-color: #1d7ad9;
}
label {
    display: inline-block;
  }
.guild:hover{
    background-color: #1d7ad9;
}